@model TBHAcademy.Models.FAQ
@{

    Layout = "_AdminLayout";
    string title = ViewBag.Action + " FAQ";
    ViewBag.Title = title.ToUpper();
}


<div class="w-100 " style="background: rgba(6, 73, 181,0.5)">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ">EDIT FAQ</h5>
    </div>
</div>

<hr />

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("ListFAQs","Admin")">List</a></li>
    <li class="breadcrumb-item"> </li>
    <li class="breadcrumb-item active" aria-current="page">Edit FAQs</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FAQs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
    
            <div class="form-group">
                <label asp-for="Questions" class="control-label"></label>
                <input asp-for="Questions" class="form-control" />
                <span asp-validation-for="Questions" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListFAQs">Back to List</a>
</div>


