@model TBHAcademy.Models.FAQ
@{

    Layout = "_AdminLayout";
    string title = ViewBag.Action + " FAQ";
    ViewBag.Title = title.ToUpper();
}


cc


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FAQs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
    
            <div class="form-group">
                <label asp-for="Questions" class="control-label"></label>
                <input asp-for="Questions" class="form-control" />
                <span asp-validation-for="Questions" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>*@
             <div class="form-group">  
                 <label asp-for="Answer" ></label>   
                 <textarea class="form-control"  asp-for="Answer" rows="3"> </textarea>
                  <span asp-validation-for="Answer" class="text-danger"></span>
             </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListFAQs">Back to List</a>
</div>

