@model TBHAcademy.Models.Faculty

@{
    ViewData["Title"] = "InsertFaculty";
    Layout = "_HodLayout";
}
<div class="w-100 mb-2  " style="background: rgba(6, 73, 181,0.5)">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ">Add A New Faculty</h5>
    </div>
</div>
<br />
<br />
<h4>Faculty Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertFaculty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FacultyName" class="control-label"></label>
                <input asp-for="FacultyName" class="form-control" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyDescription" class="control-label"></label>
                <input asp-for="FacultyDescription" class="form-control" />
                <span asp-validation-for="FacultyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <a asp-action="ListFaculty" class="btn btn-outline-info ml-1 mb-2">Back To List</a>
</div>

