@model TBHAcademy.Models.Faculty

@{
    ViewData["Title"] = "UpdateFaculty";
    Layout = "~/Views/Shared/_HodLayout.cshtml";
}

<h1>UpdateFaculty</h1>

<h4>Faculty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateFaculty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="FacultyId" hidden/>
            <div class="form-group">
                <label asp-for="FacultyName" class="control-label"></label>
                <input asp-for="FacultyName" class="form-control" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyDescription" class="control-label"></label>
                <input asp-for="FacultyDescription" class="form-control" />
                <span asp-validation-for="FacultyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

