@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="w-100 mb-2  " style="background: rgba(6, 73, 181,0.5)">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ">@ViewData["Title"]</h5>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>*@
<p>
    Please check your email to reset your password.
</p>

