
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_TutorLayoutcshtml.cshtml";
}

<div class="text">
    <h2 class="text text-center">Edit Content</h2>
    <a asp-action="Create"><img src="~/css/update content 0.5 - Copy.png" /></a>
    <form action="Created">
  <input type="file" id="myFile" name="filename">
  <input class="btn-primary" type="submit">
</form>
</div>





