@model IEnumerable<FAQ>

@{
    ViewData["Title"] = "List Of Frequently Questions";
    Layout = "_AdminLayoutNew";
}

 

<div>
    <div class="w-100 mb-2  " style="background: rgba(6, 73, 181,0.5)">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ">Frequently Asked Questions</h5>
    </div>
</div>

@*<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("FAQs","Admin")">Home</a></li>
    <li class="breadcrumb-item"> </li>
    <li class="breadcrumb-item active" aria-current="page">FAQs List</li>
  </ol>
</nav>*@

    <div class="pl-3 pr-3">
       
           
        <table id="Table" class="table table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>Questions</th>
                    <th>Answers</th>
                    
                  
                </tr>
                </thead>
                 <tbody>
                @if (Model != null)
                {
                    @foreach (var FAQ in Model)
                    {
                        <tr>
                            <td>@FAQ.Questions</td>
                            <td style="">@FAQ.Answer</td>
                     

                                       </tr>
                    }
                }
            </tbody>
        </table>
        
  
    </div>
</div>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6318939837898912e967c415/1gcc013qk';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
