@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">



  <head>
          
    <link rel="stylesheet" href="~/style.css">
    <script src="~/script.js"></script>
    <meta charset="UTF-8">
    <title> Student Dashboard  </title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

     @*SideMenuScript*@
      <link rel="stylesheet" href="~/SideMenuStyle.css">
      <script src="~/SideMenuScript.js"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
      <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

      <style>
        <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.0/dist/tailwind.min.css">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
	<style>
		[x-cloak] {
			display: none;
		}
	</style>


  </head>

<body>

  <nav class="sideNavBar" id="sideNavBar" >
    <div class="sideNavBar-content">
      <div class="toggle-btn">
        <i class='bx bx-plus'></i>
      </div>
      <span style="--i:1;">
        <a href="#"><i class='bx bxs-home'></i></a>
      </span>
      <span style="--i:2;">
        <a href="#"><i class='bx bxs-camera'></i></a>
      </span>
      <span style="--i:3;">
        <a href="#"><i class='bx bxs-alarm' ></i></a>
      </span>
      <span style="--i:4;">
        <a href="#"><i class='bx bxs-map' ></i></a>
      </span>
      <span style="--i:5;">
        <a href="#"><i class='bx bxs-cog' ></i></a>
      </span>
    </div>
  </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Classes</div>
            <div class="number">4</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Number Of your Classes today</span>
            </div>
          </div>
          <i class=''></i>
          <iconify-icon icon="healthicons:i-training-class" style="color: blue;" width="50" height="50"></iconify-icon>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Students</div>
            <div class="number">185</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Number of student in your class</span>
            </div>
          </div>
          <iconify-icon icon="ph:student-fill" style="color: aqua;" width="50" height="50"></iconify-icon>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Messages</div>
            <div class="number">07</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Message total</span>
            </div>
          </div>
          <iconify-icon icon="jam:messages-f" style="color: navy;" width="50" height="50"></iconify-icon>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Activities</div>
            <div class="number">4</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Open activites</span>
            </div>
          </div>
          <iconify-icon icon="fluent:shifts-activity-24-filled" style="color: #0818a8;" width="50" height="50"></iconify-icon>
        </div>
      </div>
    </div>
    </body>
