@{
    ViewData["Title"] = "Index";
    Layout = "_StudentLayout";
}


<a class="btn btn-primary" type="submit"  asp-controller="Student" asp-action="Enroll" >Submit</a>
 <button type="submit" class="btn btn-primary  btn-md-lg btn-sm-sm text-center" style="width:400px">Login</button>
 <button class="btn btn-primary  btn-md-lg btn-sm-sm text-center" >Test</button>