@model TBHAcademy.Models.Attempt
@{

    Layout = "_AdminLayout";
    string title = ViewBag.Action + " Course";
    ViewBag.Title = title.ToUpper();
}


<div class="w-100 " style="background: rgba(6, 73, 181,0.5)">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ">Attempt the Quiz</h5>
    </div>
</div>

  <form asp-action="Attempt" asp-controller="Quiz">

            <input type="hidden" asp-for="QuizID" />
            <div class="form-group">
                <input type="submit" value="Attempt" class="button btn btn-primary" />
            </div>
        </form>